#p18a_version {
    color: #808080;
    font-size: 16px;
    position: relative;
    top: -5px;
}
#p18a_tabs_menu{
    margin-bottom: 25px;
}
#p18a_tabs_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 27px;
}

#p18a_tabs_menu ul li {
    display: inline-block;
}

#p18a_tabs_menu ul li:first-child {
    margin-left: 10px;
}

#p18a_tabs_menu ul a {
    padding: 15px 25px;
    font-size: 16px;       
    line-height: 15px;
    text-decoration: none;
    border: 1px solid rgb(192, 192, 192);
    color: #474747;
    font-weight: 600;
    box-shadow: none;
    background-color: #e4e4e4;
    margin: 0;
    display: inline-flex;
}


#p18a_tabs_menu ul a.active {
    border-left: 1px solid rgb(192, 192, 192);
    border-top: 1px solid rgb(192, 192, 192);
    border-right: 1px solid rgb(192, 192, 192);
    border-bottom: 1px solid #f1f1f1;
    background-color: #616161;
    color: #fff;
}

#p18a_tabs_menu ul a:not(.active):hover {
    background-color: rgb(255, 255, 255);
}

.p18a-page-wrapper, .p18a-page {
    padding: 0px;
    border-top: 1px solid rgb(192, 192, 192);
}



.p18a-page-wrapper table {
    width: 100%;
}

.p18a-page-wrapper table.p18a td {
    padding: 10px 0px;
}

.p18a-label {
    width: 300px;
}

.p18a-page-wrapper label {
    font-weight: bold;
}

.p18a-page-wrapper input[type="text"]{
    width: 600px;
    padding: 6px;
}

.p18a-page-wrapper textarea {
    width: 600px;
    padding: 6px;
    height: 220px;
}

.p18a-page-wrapper select {
    width: 200px;
    height: 36px;
}

.api-test input {
    padding: 6px;
}

.p18a-large-button {
    margin-top: 2px !important;
    height: 34px  !important;
}

.p18a-error {
    border: 1px solid red !important;
}

.p18a-success {
    border: 1px solid green !important;
}

.p18a-status-1 {
    color: green;
}

.p18a-status-0 {
    color: red;
}

.p18a-error-msg {
    display: block;
    padding: 10px;
    color: red;
}

.p18a-data {
    display: none;
}

#p18a-response-window {
    width: 100%;
    height: 500px;
}
/* Tooltip container */
.tooltip {
    position: relative;
    color:red;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: orange;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
 form input:disabled{
    background: #dddddd;
 }

 body{
     background-color: #fff;
 }
 body.singular header.entry-header{
     padding: 0;
 }
 body.wp-admin .sync_priority_form{
    color: #474747;
    background: #f1f1f1;
 }
 body.wp-admin .sync_priority_form .checkbox_wrapper label{
    color: #474747;
 }
 body.wp-admin .sync_priority_form input[type=submit], body.wp-admin .sync_priority_form input[type=submit]:hover{
    background: #00669b;
 } 
 body.wp-admin .sync_priority_form input[type=text],  body.wp-admin .sync_priority_form select,  body.wp-admin .sync_priority_form textarea{
     max-width: 25rem;
     display: block;
 }
 header{
     padding: 20px 0;
 }
 .post-inner {
    padding-top: 0;
 }
 article #p18a_tabs_menu ul li:first-child{
     margin-left: 0;
 }
 .sync_priority_form{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    background-image:url('../assets/img/login_background.jpg');
    background-size:cover;
    max-width: 40rem;
    width: calc(100% - 4rem);
    color: #33077d;
 }
 .sync_priority_form .checkbox_wrapper{
     display: flex;
     margin-bottom: 10px;
 }
 .sync_priority_form .checkbox_wrapper label{
     padding-left: 15px;
     color: #33077d;
 }
 .sync_priority_form label{
    font-weight: 600;
    display: block;
 }
 .sync_priority_form input[type=text],  .sync_priority_form select,  .sync_priority_form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .sync_priority_form input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1bb1e9;
  }
  
  .sync_priority_form input[type=submit]:hover {
    background-color: #1bb1e9;
  }
  
  .sync_priority_form h6 {
    text-transform: initial;
    font-size: 16px;
    margin: 10px 0 16px;
    font-weight: normal;
  }